* {
  margin: 10px;
  background-color: rgb(99, 43, 43);
  font-size: 20px;
}

h1 {
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: 800;
  font-style: italic;
  text-align: center;
  font-size: 40px;
}

.amala {
  margin: 0 0 0 40%;
}
